<?xml version='1.0' encoding='utf-8' standalone='yes' ?>
<scene>
    <pic_name>particle/snow/_cyPic</pic_name>
    <width_height>720,1280</width_height>
    <src_scale>1.0,1.0</src_scale>
    <max>23</max>
    <model>
        <chance_range>0,.4</chance_range>
		<active_time>4000,7000</active_time><!-- min,max -->
        <src_ltwh>149,0,50,43</src_ltwh>
		<move_from_rect>0,-10,match_parent,10</move_from_rect><!-- left,top,w,h -->
		<move_to_rect>0,1280,match_parent,10</move_to_rect><!-- left,top,w,h -->
        <rotate>0,100,500,600,28,28</rotate><!-- minfrom,maxfrom,minTo,maxTo,rtX,rtY -->
		<alpha>220,255,.1,.9</alpha><!-- min,max -->
		<scale>.8,1,0,0.2</scale><!-- minfrom,maxfrom,minTo,maxTo -->
    </model>
    <model>
        <chance_range>.4,.5</chance_range>
		<active_time>4000,7000</active_time><!-- min,max -->
        <src_ltwh>0,0,56,56</src_ltwh>
		<move_from_rect>0,-10,match_parent,10</move_from_rect><!-- left,top,w,h -->
		<move_to_rect>0,1280,match_parent,10</move_to_rect><!-- left,top,w,h -->
        <rotate>0,100,500,600,28,28</rotate><!-- minfrom,maxfrom,minTo,maxTo,rtX,rtY -->
		<alpha>220,255,.1,.9</alpha><!-- min,max -->
		<scale>.8,1,0,0.2</scale><!-- minfrom,maxfrom,minTo,maxTo -->
    </model>
    <model>
        <chance_range>.5,.7</chance_range>
		<active_time>4000,7000</active_time><!-- min,max -->
        <src_ltwh>58,0,24,24</src_ltwh>
		<move_from_rect>0,-10,match_parent,10</move_from_rect><!-- left,top,w,h -->
		<move_to_rect>0,1280,match_parent,10</move_to_rect><!-- left,top,w,h -->
        <rotate>0,100,500,600,12,12</rotate><!-- minfrom,maxfrom,minTo,maxTo,rtX,rtY -->
		<alpha>220,255,.1,.9</alpha><!-- min,max -->
		<scale>1,1.2,0,0.2</scale><!-- minfrom,maxfrom,minTo,maxTo -->
    </model>
    <model>
        <chance_range>.7,.8</chance_range>
		<active_time>4000,6000</active_time><!-- min,max -->
        <src_ltwh>84,0,24,24</src_ltwh>
		<move_from_rect>0,-10,match_parent,10</move_from_rect><!-- left,top,w,h -->
		<move_to_rect>0,1280,match_parent,10</move_to_rect><!-- left,top,w,h -->
        <rotate>0,100,500,600,12,12</rotate><!-- minfrom,maxfrom,minTo,maxTo,rtX,rtY -->
		<alpha>220,255,.1,.9</alpha><!-- min,max -->
		<scale>1,1.2,0,0.2</scale><!-- minfrom,maxfrom,minTo,maxTo -->
    </model>
    <model>
        <chance_range>.8,.9</chance_range>
		<active_time>3000,5000</active_time><!-- min,max -->
        <src_ltwh>110,0,20,20</src_ltwh>
		<move_from_rect>0,-10,match_parent,10</move_from_rect><!-- left,top,w,h -->
		<move_to_rect>0,1280,match_parent,10</move_to_rect><!-- left,top,w,h -->
        <rotate>0,100,500,600,10,10</rotate><!-- minfrom,maxfrom,minTo,maxTo,rtX,rtY -->
		<alpha>220,255,.1,.9</alpha><!-- min,max -->
		<scale>1,1.2,0,0.2</scale><!-- minfrom,maxfrom,minTo,maxTo -->
    </model>
    <model>
        <chance_range>.9,1</chance_range>
		<active_time>3000,5000</active_time><!-- min,max -->
        <src_ltwh>132,0,24,24</src_ltwh>
		<move_from_rect>0,-10,match_parent,10</move_from_rect><!-- left,top,w,h -->
		<move_to_rect>0,1280,match_parent,10</move_to_rect><!-- left,top,w,h -->
        <rotate>0,100,500,600,12,12</rotate><!-- minfrom,maxfrom,minTo,maxTo,rtX,rtY -->
		<alpha>220,255,.1,.9</alpha><!-- min,max -->
		<scale>1,1.2,0,0.2</scale><!-- minfrom,maxfrom,minTo,maxTo -->
    </model>
</scene>
